# Auto detect text files and perform LF normalization
* text=auto

# this damn thing has caused so much trouble.. how hard is it to exclude a folder and all its contents?
tabula-pc/**/* linguist-vendored